/* You can add global styles to this file, and also import other style files */

body{
     background-image: linear-gradient(to right, #0d023b, #1a073e, #260941, #310b44, #3c0e46);
     /* background-image: url('./assets/images/bg.png');  */
     background: #260941; 
     color: #fff;
     width: auto;
     margin: 0 !important;
     z-index: -1;
     font-family: 'FuturaBold';
     overflow-x: hidden;
}
h3{
    font-size: clamp(1rem, 2vw, 1.8rem); 
}
.header-mobile{
    background: #0f033c;
}
.header-mobile .row{
    width: 98%;
}
header .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.logo{
    min-width: 3em;
    max-width: 50%;
}
.headertext{
    font-size: clamp(0.5rem, 2vw, 2rem); 
   
}
.headertext p{
     border: 1px solid white;
}
.connectWalletButton{
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: none;
    font-size: clamp(0.5rem, 1.0vw, 1rem); 
}
.connectWalletButton:hover{
    color: white;
    border: 1px solid white;
}
.apolloheading{
    margin-top: -2em;
    text-align: center;
}
.tabitems{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 75vh;
    height: auto;
}

.statistics, .planet{
    /* border: 2px solid green; */
    width: 100%;
}

.footer {
    width: 90%;
  }
.statistics{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
}
.footer{
    display: flex;
    justify-content: center;
    position: relative;
}
.footer img{
    width: 100%;
    
}
.planet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.leftSection{
    display: flex;
    flex-direction: column;
    flex:  0 0 30%;
    text-align: end;
}
.rightSection{
   margin-top: 4rem;
    display: flex;
    flex-direction: column;
    flex:  0 0 30%;
}
.planetSection{
    flex:  0 0 40%;
    display: flex;
    justify-content: center;
}

 .left1,.left2,.left3,.right1,.right2,.right3{
    margin-top: 10px;
    position: relative;
    line-height: 0;
}
.left1:hover{
    cursor: pointer;
    background-image: url('./assets/images/left1_activated.png');
    background-size: cover;
}
.left2:hover{
    cursor: pointer;
    background-image: url('./assets/images/left2_activated.png');
    background-size: cover;
}
.left3:hover{
    cursor: pointer;
    background-image: url('./assets/images/left3_activated.png');
    background-size: cover;
}
.leftbuttons{
    transform: translateX(4rem);
}
.rightbuttons{
    transform: translateX(-4rem);
}
.rowtext{
    position: absolute;
}
.rowtext h4{
    font-size: 13pt;
}
.rowtext p{
    font-size: 8pt;
    font-family: 'FuturaBook' !important;
}
.moresection{
    margin-top: -5em;
}
.morebtn{
    border: 1px solid white;
    color: white;
}
.morebtn:hover{
    color: white;
    border: 1px solid white;
}
.rewardsbox{
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    min-height: 50px;
    height: auto;
}
.roundcontainer{
    position: relative;
    display: flex;
    justify-content: center;
}
.roundcontainer img{
    width: 60%;
}
.last-text{
    position: absolute;
    bottom:0;

    text-align: center;
}
.nav{
    background: #0f033c !important;
}
.nav-link{
    color: #fff;
    background: transparent !important;
    border: none;
    min-height: 70px;
    
}
.nav-item .active{
    border-bottom: 2px solid white;
    border-radius: 0%;
}
.tab-pane{
    display: flex;
    flex-direction: row;  
    width: 100%; 
    margin: 0px;
} 
.firstpane,.secondpane,.thirdpane{
    min-height: 200px;
    text-align: center;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family:'FuturaBold' !important ;
}
.firstpane{
    min-height: 8em;
}
.thirdpane{
   min-height: 5.5rem !important;
   padding-top: auto;
   align-items: flex-end;
   position: absolute;
   bottom: 0;
} 
.claimreward,.buyApollo,.buyMore{
    font-size: 20px !important;
    border-radius: 4px;
    border: 1px solid transparent;
    width: 96%;
    align-self: flex-end;
}
.paidRewards{
    background-image: url('./assets/images/Color-claim-reward.png');
    background-size: cover;
    font-size: 20px !important;
    border-radius: 4px;
    border: 1px solid transparent;
    width: 96%;
    align-self: flex-end;
}
.buyMore{
    background-image: url('./assets/images/Color-buy-more.png');
    background-size: cover;
}
.claimreward{
    background-image: url('./assets/images/Color-claim-reward.png');
    background-size: cover;
}
.desktop-claimreward{
    background-image: url('./assets/images/Grad.png');
    background-size: cover;
    font-size: 20px !important;
    border-radius: 4px;
    color: white;
    border: 1px solid white;
    align-self: flex-end;
}
.grad{
    background-image: url('./assets/images/Grad.png');
    background-size: contain;
    margin-bottom: 2%;
    width: 100%;
    min-height: 33%;
}
.grad h3{
    margin-top: 0.5rem;
}
.mb-3 {
    margin-bottom: 7rem!important;
}
.mobgrid{
    background-image: url('./assets/images/Grad.png');
    background-size: contain;
    width: 100%;
    color: white;
}
btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: inset 0 0 0 0.25rem var(--bs-dark) !important;
}
.gridimg{
    position: relative;
}
.gridtxt{
    position: absolute;
}
.action{
    position: relative;
    margin-top: 1rem;
    
}
.desktop_section{
    display: flex;
    flex-direction: column;
    /* border: 2px solid salmon; */
    min-height: 100vh;
    overflow-y: hidden;
}
.header-section{
    flex: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    flex: 0 0 10%;
}
.apolloheading{
    flex: 0 0 10%;
}
.midsection{
   /*  flex: 0 0 70%; */
   display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
   /*  border: 2px solid red; */
    display: flex;
    flex-direction: column;
}
.img-fluid {
    max-width: 80%;
    height: auto;
}

@media (min-width:768px) {
    .footer{
        flex: 0 0 15%;
        justify-self: flex-end;
        position: absolute;
        bottom: 0;
    }
.footer img{
        /* width: 80vw; */
    }
    .statistics {
        flex: 0 0 10%;
        padding-left: 0rem;
        padding-right: 0rem;
  }
  .right2{
    margin-left: 4px;
  }
  .left2{
    margin-right: 4px;
  }
 
}
@media (min-width:1024px) {
    .footer{
        flex: 0 0 21%;
        justify-self: flex-end;
        position: absolute;
        bottom: 0;
    }
.footer img{
        width: 80vw;
    }
    .right2{
        margin-left: 10px;
      }
      .left2{
        margin-right: 10px;
      }
}
@media (min-width:1200px) {
    .footer{
        flex: 0 0 10%;
        justify-self: flex-end;
        position: absolute;
        bottom: 0;
    }
    .footer img{
        width: 50vw;
    }
  .statistics {
    flex: 0 0 10%;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .left2{
      margin-right: 1.2rem;
  }
  .right2{
      margin-left: 1.2rem;
  }
  .left1,.left2,.left3,.right1,.right2,.right3{
    margin-top: 10px;
    position: relative;
    line-height: 20px;
}
}